In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
"""Q1. Write a code to print the data present in the second row of the dataframe, df."""

print(list(df.iloc[1]))

['Machine Learning', 3]

In [4]:
"""Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
    Ans: In layman's terms, loc in Pandas DataFrame is used to select data by labels (row/column names), while iloc is used to select data by integer index positions. 
         loc is more explicit and requires column/row names, while iloc uses integer positions.
"""

"Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?\n    Ans: In layman's terms, loc in Pandas DataFrame is used to select data by labels (row/column names), while iloc is used to select data by integer index positions. \n         loc is more explicit and requires column/row names, while iloc uses integer positions.\n"

In [5]:
"""Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
    Did you observe any difference in both the outputs? If so then explain it.
"""

reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(list(new_df.loc[2]))
print(list(new_df.iloc[2]))

# loc[] gives the index named 2
# iloc[] give the 2nd item from top

['Big Data', 6]
['Machine Learning', 3]

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.860277  0.668346  0.844716  0.188272  0.735047  0.829160
2  0.228627  0.032287  0.537402  0.476952  0.540807  0.441701
3  0.491260  0.598644  0.422037  0.728183  0.080470  0.938459
4  0.173877  0.547303  0.485117  0.884004  0.425028  0.382930
5  0.634600  0.009643  0.243806  0.892715  0.752484  0.068403
6  0.255863  0.350810  0.784272  0.192014  0.678100  0.389581

In [21]:
"""Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    (i) mean of each and every column present in the dataframe.
    (ii) standard deviation of column, 'column_2'"""
# (i) mean of each and every column present in the dataframe.
print(df1.describe().mean())

print()
# (ii) standard deviation of column, 'column_2'
print(df1.describe()['column_2'].std())

column_1    1.119177
column_2    1.060174
column_3    1.192424
column_4    1.209510
column_5    1.176008
column_6    1.171116
dtype: float64

2.0082357642759407

In [30]:
"""Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
    If you are getting errors in executing it then explain why.
    [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]"""

df1.loc[:,['column_2']] = ['1','2','3','4','5','6']
df1['column_2'].mean()

20576.0

In [9]:
"""Q6. What do you understand about the windows function in pandas and list the types of windows
functions?"""

"""Ans: Pandas window functions analyze and compare data points over a given time period or moving window. 
        They allow calculations to be performed on a sliding or rolling window, with several types available such as rolling, expanding, EWM, and Groupby. 
        These functions help gain insights from time series or other data analysis."""

'Q6. What do you understand about the windows function in pandas and list the types of windows\nfunctions?'

In [37]:
"""Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]"""

print(pd.datetime.now().month)
print(pd.datetime.now().year)

3
2023

/tmp/ipykernel_119/1978449648.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().month)
/tmp/ipykernel_119/1978449648.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().year)

In [44]:
"""Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes 
       using Pandas time delta. The program should prompt the user to enter the dates and display the result."""

# d1 = pd.to_datetime(input())
# d2 = pd.to_datetime(input())
d1 = pd.to_datetime('2023-03-17')
d2 = pd.to_datetime('2023-03-10')
days_diff = d1.day - d2.day
print(f"Diffenrece in days is {days_diff}")
print(f"Diffenrece in hours is {days_diff * 24}")
print(f"Diffenrece in minutes is {days_diff * 24 * 60 * 60}")

Diffenrece in days is 7
Diffenrece in hours is 168
Diffenrece in minutes is 604800

In [12]:
"""Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. 
       The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data."""
file_path = input("File path: ")
df = pd.read_csv(file_path)
column_name = input("Column name: ")
cat_order = input("Category order: ")

cat_order = cat_order.split(",")
df[column_name] = pd.Categorical(df[column_name], categories=cat_order)
df = df.sort_values(column_name)

print(df)

'Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified\ncolumn to a categorical data type. The program should prompt the user to enter the file path, column\nname, and category order, and then display the sorted data.'

In [13]:
"""Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales 
        of each product category over time. The program should prompt the user to enter the file path and display the chart."""

file_path = input("File path: ")
df = pd.read_csv(file_path)
sales_data = df.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()
sales_data.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

'Q10. Write a Python program that reads a CSV file containing sales data for different products and\nvisualizes the data using a stacked bar chart to show the sales of each product category over time. The\nprogram should prompt the user to enter the file path and display the chart.'

In [27]:
"""Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table."""

import pandas as pd
import numpy as np
import scipy as s
file_path = input("file path: ")

data = pd.read_csv(file_path)

mean_score = np.mean(data['Test Score'])
median_score = np.median(data['Test Score'])
mode_score = s.stats.mode(data['Test Score'], keepdims=True)

print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print("| Mean      | {:.1f}  |".format(mean_score))
print("| Median    | {:<5f} |".format(median_score))
print("| Mode      | ", end="")
for score in mode_score[0]:
    print(f"{score}",end="")
print(" |")
print("+-----------+--------+")

file path:  students.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 86.2  |
| Median    | 85.000000 |
| Mode      | 85 |
+-----------+--------+